:root {
    --color-background: #0F0F0F;
    --color-text: #ffffff;
    --color-gray-400: #9ca3af;
    --color-gray-600: #4b5563;
    --color-gray-700: #374151;
    --color-gray-800: #1f2937;
    --color-blue-400: #60a5fa;
    --color-blue-500: #3b82f6;
    --color-blue-600: #2563eb;
    --color-red-600: #dc2626;
}